button {
  border: 1px solid #999999;
  border-radius: 25px;
  border-color: #999999;

  background-color: #2D333B;

  padding: 7px;
  padding-left: 15px;
  margin-right: 12px;
  width: 150px;

  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  color: #FFFFFF;

  cursor: pointer;
  transition: all ease 0.3s;
}

button:active{
  opacity: 0.6;
  transform: scale(0.96);
}
