

header{
  width: 100%;
  height: 40px;

  background-color: #2D333B;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

h1{
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
}